.idea/
*.dll
*.zip
obj/
bin/
*.user
.vs/

# Build props
local.*

# Local assembly references
### TODO: ScheduleOneAssemblies is deprecated and needs removed after communications
ScheduleOneAssemblies/
*.bin

nuget-upload.txt